# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [13]:
import pandas as pd
# # I have tried to answer these but when I press run I am running into errors so 
# I cannot see if they are correct or run correctly. It may be my system as it
# is doing it for the example files as well.

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [14]:
df = pd.read_csv('balance.txt',sep=' ')
df

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

1. Write the code that performs the action described in the following statements.

In [15]:
# Select the 'Limit' and 'Rating' columns of the first five observations
# print(df.Rating.Limit.head(5))

rating_columns = df.iloc[:, [2,3]]
# to see the output you just 'call' the varaible;
rating_columns.head()

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [16]:
# Select the first five observations with 4 cards
print(df[df.Cards > 4 ].head(5))

      Balance  Income  Limit  Rating  Cards  Age  Education  Gender Student  \
8    7.938090  15.125   3300     266      5   66         13  Female      No
23  16.302533  64.027   5179     398      5   48          8    Male      No
25   8.232514  14.090   4323     326      5   25         16  Female      No
26  14.959916  42.471   3625     289      6   44         12  Female     Yes
31  11.464864  28.941   2733     210      5   43         16    Male      No

   Married         Ethnicity
8       No         Caucasian
23     Yes  African American
25     Yes  African American
26      No         Caucasian
31     Yes             Asian

In [18]:
# Sort the observations by 'Education'. Show users with a high education value first. 
print(df.sort_values(by = 'Education', ascending=False))

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
51   13.010768   39.705   3969     301      2   27         20    Male      No
60   13.297283   35.510   5198     364      2   35         20  Female      No
378  10.140785   19.349   4941     366      1   33         19    Male      No
362  10.794800   26.162   5101     382      3   62         19  Female      No
247  13.774598   36.364   2220     188      3   50         19    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
224  25.262836  121.709   7818     584      4   50          6    Male      No
254  13.997826   36.508   6386     469      4   79          6  Female      No
308   7.160412   14.956   4640     332      2   33          6    Male      No
284   8.298482   14.711   2047     167      2   67          6    Male      No
30   10.201523   34.142   5666     413      4   47          5  Female      No

    Married         Ethnicity
51      Yes  African American
60       No             Asian
378     Yes         Caucasian
362      No  African American
247      No         Caucasian
..      ...               ...
224     Yes         Caucasian
254     Yes         Caucasian
308      No             Asian
284     Yes         Caucasian
30      Yes         Caucasian

[400 rows x 11 columns]

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:] 
```

In [ ]:
# Selects all rows and columns
df.iloc[:,:]

In [ ]:
# Selects row and column from 6 onwards
df.iloc[5:,5:]

In [ ]:
# Selects all rows but only the first column
df.iloc[:,0]

In [ ]:
# Selects 10th row and all columns
df.iloc[9,:]